.container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    flex-wrap: wrap;
    background-color: var(--other);
    padding: 20px;
    border-radius: 15px;
}

@media (min-width: 768px){
    .container{
        grid-template-columns: repeat(4,auto);
        padding: 40px;
    }
}
    