@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;1,100&family=Rubik+Bubbles&display=swap');
@import './variables.css';

* {
  box-sizing: border-box;
}

html{
  font-size: 16px;
  height: 100%;
}

body {
  background-image: url("../public/images/main.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
}