:root {
    --primary-color: #0D8D34; 
    --primary-color-2: #0d8d34e3;
    --primary-color-3: #00551ae6;
    --secondary-color: #6EAF10;
    --text-color: #f2f7f8;
    --shadow: #3C8499;
    --other: #f1ff0747;
    --disabled: #757575;
    --box-shadow:rgb(46 52 29);
}
/* .color-primary-1 { color: #44B566 }
.color-primary-2 { color: #23A74B }
.color-primary-3 { color: #007423 } 1
.color-primary-4 { color: #00551A } */

:root {
    --font-family: "Heebo";
    --base-font-size: 16px;
}

:root {
    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
}
